# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea
build
database.sqlite
node_modules
npm-debug.log
yarn-error.log
coverage
.nyc_output
