# These attributes affect how the contents stored in the repository are copied
# to the working tree files when commands such as git checkout and git merge run.
# http://git-scm.com/docs/gitattributes

* text=auto