# Git uses this file to determine which files and directories to ignore
# https://help.github.com/articles/ignoring-files

build
bower_components
node_modules
npm-debug.log

## WebStrom
.idea/
*.ipr
*.iws
*.iml
