
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}

ul{
  list-style: none;
}

body, .page {
  background-color: #F8F8F8;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
