// Firestore security rules.
// https://cloud.google.com/firestore/docs/security/get-started

rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /workspace/{id} {
      allow read: if request.auth != null && (
        resource.data.ownerId = request.auth.uid ||
        request.auth.token.admin == true
      );
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
