---
title: About Us
component: ContentPage
---
h2.
  Who We Are
p.
  The 64 Interactive team brings decades of combined experience in building high quality, user-centric software. We have just the right mix of skills in application development, information architecture, and project management, allowing us to provide our customers with the advantages of working with a small, focused team and still deliver the level of polish and scale that today’s businesses require. Whatever your requirements, technology stack, or target market, we can craft a solution that works for you.
