---
title: About
component: ContentPage
---
div.row
  div.col-sm-4
    h3 Runtime Components
    dl
      dt <a href="https://facebook.github.io/react/" target="_blank">React</a>
      dd A JavaScript library for building user interfaces, developed by Facebook
      dt <a href="http://facebook.github.io/flux/" target="_blank">Flux</a>
      dd Application architecture for building user interfaces
      dt <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
      dd CSS framework for developing responsive, mobile first interfaces
  div.col-sm-4
    h3 Development Tools
    dl
      dt <a href="http://gulpjs.com" target="_blank">Gulp</a>
      dd JavaScript streaming build system and task automation
      dt <a href="http://webpack.github.io/" target="_blank">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/" target="_blank">BrowserSync</a>
      dd A lightweight HTTP server for development
  div.col-sm-4
    h3 Fork me on GitHub
    p <a href="https://github.com/companyjuice/react-starter-kit" target="_blank">github.com/companyjuice/react-starter-kit</a>

p.
  Pellentesque sagittis vehicula sem quis luctus. Proin sodales magna in lorem
  hendrerit aliquam. Integer eu varius orci. Vestibulum ante ipsum primis in
  faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum
  primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut at mauris
  nibh. Suspendisse maximus ac eros at vestibulum.
p.
  Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque egestas
  tortor et dui consequat faucibus. Nunc vitae odio ornare, venenatis ligula a,
  vulputate nisl. Aenean congue varius ex, sit amet bibendum odio posuere at.
  Nulla facilisi. In finibus, nulla vitae tincidunt ornare, sapien nulla
  fermentum mauris, sed consectetur tortor arcu eget arcu. Vestibulum vel quam
  enim.
