---
title: React.js Starter Kit
component: ContentPage
---
div
  div
    h3 Runtime Components
    dl
      dt <a href="https://facebook.github.io/react/">React</a>
      dd A JavaScript library for building user interfaces, developed by Facebook
      dt <a href="http://facebook.github.io/flux/">Flux</a>
      dd Application architecture for building user interfaces
  div
    h3 Development Tools
    dl
      dt <a href="http://webpack.github.io/">Webpack</a>
      dd Compiles front-end source code into modules / bundles
      dt <a href="http://www.browsersync.io/">BrowserSync</a>
      dd A lightweight HTTP server for development
  div
    h3 Fork me on GitHub
    p <a href="https://github.com/kriasoft/react-starter-kit">github.com/kriasoft/react-starter-kit</a>
