.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.image-container {
  position: relative;
  overflow: hidden;
  padding-top: 66.6%; /* 3:2 aspect ratio */

  background-size: cover;
  background-position: top;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
}
