name: Deploy

on:
  workflow_call:
    inputs:
      name:
        description: "Name of the deployment"
        required: true
        type: string
      environment:
        required: true
        type: string
      url:
        description: "URL of the deployment"
        required: true
        type: string

jobs:
  deploy:
    name: ${{ inputs.name }}
    runs-on: ubuntu-latest
    permissions:
      deployments: write
      pull-requests: read
    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.pr.outputs.formatted || inputs.url }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          name: build
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - uses: kriasoft/pr-codename@v1
        id: pr
        if: contains(inputs.url, '{codename}')
        with:
          template: ${{ inputs.url }}
          token: ${{ github.token }}
      # TODO: Add wrangler deploy steps
      # - run: bun wrangler deploy --config apps/api/wrangler.jsonc --env=${{ inputs.environment }}
      # - run: bun wrangler deploy --config apps/app/wrangler.jsonc --env=${{ inputs.environment }}
      # - run: bun wrangler deploy --config apps/web/wrangler.jsonc --env=${{ inputs.environment }}
