name: Deploy Preview (Reusable)

on:
  workflow_call:
    inputs:
      name:
        description: "Name of the deployment"
        required: true
        type: string
      environment:
        required: true
        type: string
      url:
        description: "URL of the deployment"
        required: true
        type: string

jobs:
  environment:
    name: ${{ inputs.name }}
    runs-on: ubuntu-latest
    permissions:
      deployments: write
      pull-requests: read
    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.pr.outputs.formatted }}
    steps:
      - uses: kriasoft/pr-codename@v1
        id: pr
        with:
          template: ${{ inputs.url }}
          token: ${{ github.token }}
      # TODO: Add deployment steps
      # - run: bun wrangler deploy --config apps/api/wrangler.jsonc --env=${{ inputs.environment }}
      # - run: bun wrangler deploy --config apps/app/wrangler.jsonc --env=${{ inputs.environment }}
      # - run: bun wrangler deploy --config apps/web/wrangler.jsonc --env=${{ inputs.environment }}
